/*Overall website body styling*/
body {
    margin: 0;
    padding: 0;
    background-color: #1A2732;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Navigation Styling*/

.nav-remove-break {
    display: inline-block;
}

/*Grid for Navigation Bar*/ 

/*  small and medium devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1;
        display: grid;
        content: justify;
    }
    .grid-item {
        columns: 1 / auto;
        text-align: center;
    }
    .nav-word {
        text-decoration: none;
        color: white;
        display: block;
    }
    .nav-logo {
        width: 75px;
        position: relative;
    }
    /*Footer Grid*/
    .information-grid {
        grid-template-columns:auto;
        display: grid;
        background-color: #51626F !important;
    }
    .footer-item {
        grid-column: auto / span 1;
        text-align: center;
    }
    
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: auto;
        height: 75px;
    }
    .grid-item {
        columns: 1 / auto;
        position: absolute;
        top: 5px;
        left: 5px;
        display:block;
    }
    .nav-word {
        color: white;
        text-decoration: none !important;
        display: table-cell;
    }
    .nav-word-center {
        padding-left: 10px; padding-right: 10px;
        min-height: 10em;
        vertical-align: middle;
    }
    .nav-logo {
        width: 70px;
        padding:5px;
    }
    /*Footer Grid*/
    .information-grid {
        grid-template-columns: 33% 34% 33%;
        display: grid;
        background-color: #51626F !important;
    }
    .footer-item {
        grid-column: auto / span 1;
        text-align: left;
        margin: 10px;
    }
}

/*Footer Styling*/

.house-info-line {
    margin-right: 20px; padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.party-button {
    width: 200px;
}

.social-media {
    width: 50px;
}

.center-word {
    padding-left: 10px; padding-right: 10px;
    min-height: 10em;
    vertical-align: middle;
}
